body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

h1, h2, h3 {
    color: black;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #888;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #444;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#otherField {
    display: none;
}


#searchInput {
    width: 80%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3498db;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Night mode styles */
.night-mode {
    background-color: #333;
    color: white;
}

.night-mode h1, .night-mode h2, .night-mode h3 {
    color: white;
}

.night-mode .button {
    background-color: #666;
}

.night-mode th {
    background-color: #333;
    color: white;
}

.night-mode tr:nth-child(odd) {
    background-color: #444;
}

.night-mode tr:nth-child(even) {
    background-color: #555;
}

.night-mode .dropdown-content {
    background-color: #333;
    color: white;
}

.night-mode .dropdown-content a:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-bottom: 10px;
    }

    table {
        font-size: 14px;
    }

}