{% extends "base.html" %}

{% block title %}Add Expenses{% endblock %}

{% block content %}
    <style>
    #otherField {
        display: none;
    }
    </style>
    <script>
        function toggleOtherInput() {
            var category = document.getElementById("category");
            var otherField = document.getElementById("otherField");
            if (category.value === "other") {
                otherField.style.display = "block";
            } else {
                otherField.style.display = "none";
            }
        }
        </script>
    <h2>Add Expenses</h2>
    <div>
        <form action="/add-spending" method="POST">
        <label for="time">Time:</label>
        <input type="date" id="time" name="time">
        <br><br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity">
        <br><br>
        <label for="category">Category:</label>
        <select id="category" name ="category" onchange="toggleOtherInput()">
            <option value="food">Food</option>
            <option value="entertainment">Entertainment</option>
            <option value="bill payments">Bill Payments</option>
            <option value="other">Other</option>
        </select>
        <input type="text" id="otherField" placeholder="Enter custom category" name = "othertext">
        <br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description">
        <br><br>
        <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}