<!doctype html>
<html>
    <head>
        <title>Add Expenses</title>
    </head>
    <body>
        <h2>Add Expenses</h2>
        <div>
            <label for="date">Date:</label>
            <input type="text" id="date">
            <br><br>
            <label for="amount">Amount:</label>
            <input type="number" id="amount">
            <br><br>
            <label for="category">Category:</label>
            <select id="category">
                <option value="food">Food</option>
                <option value="entertainment">Entertainment</option>
                <option value="bill payments">Bill Payments</option>
            </select>
            <label for="customCategory">Custom Category:</label>
            <input type="text" id="customCategory" name="customCategory" required placeholder="Enter custom category">
            <br><br>
            <label for="description">Description:</label>
            <input type="text" id="description">
            <br><br>
            <button onclick="addExpense()">Add Expense</button>
        </div>         
    </body>
</html>