<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>{% block title %}Budget Tracker{% endblock %}</title>
</head>
<body>
    <h1>Budget Tracker</h1>
    <div class="button-container">
        <div class="dropdown">
            <button class="button dropdown-button">Display Activities</button>
            <div class="dropdown-content">
                <a href="/display-spendings">Spending Only</a>
                <a href="/display-savings">Saving Only</a>
                <a href="/">All Activities</a>
            </div>
        </div>
        <a href="/search"><button class="button">Search Activities</button></a>
        <div class="dropdown">
            <button class="button dropdown-button">Add Activities</button>
            <div class="dropdown-content">
                <a href="/add-spending">Spending</a>
                <a href="/add-saving">Saving</a>
            </div>
        </div>
        <a href="/settings"><button class="button">Settings</button></a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        const themeSwitch = document.getElementById("themeSwitch");
        const body = document.body;
    
        themeSwitch.addEventListener("change", () => {
            body.classList.toggle("night-mode", themeSwitch.checked);
        });
    </script>
</body>
</html>