{% extends "base.html" %}

{% block title %}Activities{% endblock %}

{% block content %}
    <h2>All Activities</h2>
    {% if totalSpending %}
        <p id="total-spending"> total spending: {{totalSpending}}</p>
    {% endif %}
    {% if totalSaving %}
        <p id="total-saving"> total saving: {{totalSaving}}</p>
    {% endif %}
    {% if net %}
        <p id="net-income"> net income: {{net}}</p>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Title</th>
                <th>Quantity</th>
                <th>Category/Source</th>
                <th>Description</th>
                <th>Type</th>
                <th>View/Edit</th>
            </tr>
        </thead>
        <form method="GET">
            <label for="sortBy">Sort by:</label>
            <select name="sortBy" id="sortBy">
                <option value="time">Date</option>
                <option value="amount">Amount</option>
            </select>
            <label for="order">Order:</label>
            <select name="order" id="order">
                <option value=1>Ascending</option>
                <option value=-1>Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        <tbody>
            {% for act in Acts %}
            <tr>
                <td>{{ act.time }}</td>
                <td>{{ act.title }}</td>
                <td>{{ act.quantity }}</td>
                <td>{{ act.category }}</td>
                <td>{{ act.description }}</td>
                <td>{{ act.event_type }}</td>
                <td><a href="/act?id={{act.event_id}}" class="button">Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function calculate_sum_spending(acts){
            let total = 0 
            for (const act of acts){
                total += (act.event_type==="spending")? act.quantity : 0;
            }
            return total 
        }
        function calculate_sum_saving(acts){
            let total = 0 
            for (const act of acts){
                total += (act.event_type==="saving")? act.quantity : 0;
            }
            return total 
        }
        function calculate_net(acts){
            let total = 0 
            for (const act of acts){
                total += (act.event_type==="saving")? act.quantity : -act.quantity;
            }
            return total 
        }
        //const totalSpending = calculate_sum_spending(Acts);
        //const totalSaving = calculate_sum_saving(Acts);
        //const netIncome = calculate_net(Acts);
    </script>
{% endblock %}