{% extends "base.html" %}

{% block content %}
    <h1>Activities</h1>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Title</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Description</th>
                <th>Type</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for act in Acts %}
            <tr>
                <td>{{ act.time }}</td>
                <td>{{ act.title }}</td>
                <td>{{ act.quantity }}</td>
                <td>{{ acte.category }}</td>
                <td>{{ act.description }}</td>
                <td>{{ act.event_type }}</td>
                <td><button onclick="editExp()">Edit</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}