{% extends "base.html" %}

{% block title %}Edit act{% endblock %}

{% block content %}
    <h2>Edit Activity</h2>
    <div>
    <form action="/editAct?id={{act.event_id}}" method="POST">
        <label for="time">Time:</label>
        <input type="text" name="time" id="time" value="{{ act.time }}">
        <br><br>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{ act.title }}">
        <br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="{{ act.quantity }}">
        <br><br>
        <label for="category">Category:</label>
        <select id="category" name="category" onchange="toggleOtherInput()">
            <option value="food" {% if act.category == "food" %}selected{% endif %}>Food</option>
            <option value="entertainment" {% if act.category == "entertainment" %}selected{% endif %}>Entertainment</option>
            <option value="bill payments" {% if act.category == "bill payments" %}selected{% endif %}>Bill Payments</option>
            <option value="other" {% if act.category == "other" %}selected{% endif %}>Other</option>
        </select>
        <br><br>
        <label for="description">Description:</label>
        <input type="text" name = "description" id="description" value="{{ act.description }}">
        <br><br>
        <button type="submit">Update Activity</button>
        <br><br>
    </form>
    <a href="/delete?id={{act.event_id}}"><button>Delete Activity</button></a>
    </div>
{% endblock %}