<!doctype html>
<html>
<head>
    <title>Sign In</title>
</head>
<body>
    <h2>Budget Tracker</h2>
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Sign In">
        <br><br>
        <input type="submit" value="Create Account">
        <br><br>
        <input type="submit" value="Forgot Password">
    </form>
</body>
</html>