{% extends "base.html" %}

{% block title %}Search Activities{% endblock %}

{% block content %}
    <h2>Search Activities</h2>
    <form action="/search" method="get">
        <div>
            <input type="text" name="title" placeholder="Search by title">
            <button type="submit">Search</button>
        </div>
        <br><br>
        <div>
            <input type="text" name="category" placeholder="Search by category">
            <button type="submit">Search</button>
        </div>
    </form>
    <br><br>
    <div id="searchResults"></div>

    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Title</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Description</th>
                <th>Type</th>
                <th>View/Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for act in Acts %}
            <tr>
                <td>{{ act.time }}</td>
                <td>{{ act.title }}</td>
                <td>{{ act.quantity }}</td>
                <td>{{ act.category }}</td>
                <td>{{ act.description }}</td>
                <td>{{ act.event_type }}</td>
                <td><a href="/act?id={{act.event_id}}" class="button">Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}